<div class = "footer-container">
    <div class="right-side">
        <p style="color: #006D36; font-size: 20px; font-weight: 600;">CaloTrack</p>
        <p class="footer-para-color">&copy; 2026 CaloTrack. All rights reserved.</p>
    </div>
    <div class="left-side">
        <ul class="footer-links footer-para-color">
            <li class="footer-effect">Privacy Policy</li>
            <li class="footer-effect">Terms of Service</li>
            <li class="footer-effect">Help Centre</li>
            <li class="footer-effect">Contact</li>
        </ul>
    </div>
</div>
