<div class="outer-container">
    <div class="inner-container">
        <div class="left-side-container">
            <div class="logo-container">
                <div class="logo-text-container">
                    <div class="logo-image-container">
                        <img class="logo" src="images/logo.png" alt="CaloTrack Logo">
                        <h1 class="gradient-text">CaloTrack</h1>
                    </div>

                    <h2 class="motive"><span style="color: #0B1C30;">Precision Tracking for </span><span
                            style="color: #006D36;">vibrant living</span></h2>
                    <p class="desc">CaloTrack balances high-energy motivation with systematic
                        precision. Experience frictionless meal logging, intuitive macro
                        analytics, and personalized planning designed for your
                        momentum.</p>

                    <div class="benefits">
                        <div class="benefits-detail">
                            <img src="images/Overlay.svg" alt="svg">
                            <p>Smart Food Log </p>
                        </div>

                        <div>
                            <img src="images/Overlay.svg" alt="svg">
                            <p> Daily Planner</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="right-side-container">
            <h3>get started</h3>
            <p>join us</p>
            <button>Create Account</button>
            <button>Login</button>
            <p>-------Or-------</p>
            <button>Continue as Guest</button>
        </div>
    </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>