<div class="outer-container">
    <div class="inner-container">
        <div class="left-side-container">
            <img class="green-blur-image" src="images/Subtle Decorative Element.png" alt="">
            <div class="logo-container">
                <div class="logo-text-container">
                    <div class="logo-image-container">
                        <img class="logo" src="images/logo.png" alt="CaloTrack Logo">
                        <h1 class="gradient-text">CaloTrack</h1>
                    </div>

                    <h2 class="motive"><span style="color: #0B1C30;">Precision Tracking for </span><span
                            style="color: #006D36;">vibrant living</span></h2>
                    <p class="desc">Track your meals, understand your nutrition, and stay focused on your goals.
                        CaloTrack makes calorie and macro tracking simple, clear, and personalized to your lifestyle.
                    </p>

                    <div class="benefits">
                        <div class="benefits-detail">
                            <img src="images/Overlay.svg" alt="svg">
                            <p class="benefit-desc">Smart Food Log </p>
                        </div>

                        <div class="benefits-detail">
                            <img src="images/Overlay.svg" alt="svg">
                            <p class="benefit-desc"> Daily Planner</p>
                        </div>

                    </div>

                    <img class="dashboard_image" src="images/Product Preview Image.png" alt="Dashboard Image">
                </div>

            </div>

        </div>
        <div class="right-side-container">
            <div class="account">
                <p class="start">Get Started</p>
                <p class="join-us">Join Us</p>

                <div class="sign-up">
                    <button class="btn1">
                        <span class="btn-text">Sign Up Now</span>

                        <span class="btn-arrow">
                            <img src="images/Arrow Icon.png" alt="Arrow image">
                        </span>
                    </button>
                </div>

                <button class="btn2">Log In to Account</button>

                <div class="continue">
                    <span></span>
                    <p>OR CONTINUE WITH</p>
                    <span></span>
                </div>
                <div class="google-login">
                    <button class="btn3">
                        <span class="google-icon">
                            <img src="images/google icon.png" alt="Google icon">
                        </span>
                        <span class="btn-text-google">Google</span>
                    </button>
                </div>
                <p class="agreement">By continuing, you agree to CaloTrack's <span class="border-effect">Terms of Service</span> and <span class="border-effect">Privacy Policy</span>.</p>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>