<div class="outer-container">
    <div class="inner-container">
        <div class="left-side-container">
            <div class="logo-container">
                <div class="logo-text-container">
                    <div class="logo-image-container">
                        <img class = "logo"src="images/logo.png" alt="CaloTrack Logo">
                        <h1>CaloTrack</h1>
                    </div>

                    <h2>Precision Tracking for vibrant living</h2>
                    <p>CaloTrack balances high-energy motivation with systematic
                        precision. Experience frictionless meal logging, intuitive macro
                        analytics, and personalized planning designed for your
                        momentum.</p>
                </div>

            </div>

        </div>
        <div class="right-side-container">
            <h3>get started</h3>
            <p>join us</p>
            <button>Create Account</button>
            <button>Login</button>
            <p>-------Or-------</p>
            <button>Continue as Guest</button>
        </div>
    </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>